In [1]:
import pandas as pd

In [2]:
JanData = pd.read_csv("./Data/Jan_2019_Citibike.csv")
JanData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,18:00.1,26:25.9,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,36:33.3,49:10.3,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,43:38.6,09:54.5,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,43:39.6,09:46.5,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [3]:
FebData = pd.read_csv("./Data/Feb_2019_Citibike.csv")
FebData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,142,35:02.1,37:24.1,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29677,Subscriber,1963,1
1,223,00:46.9,04:30.5,3183,Exchange Place,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,26234,Subscriber,1992,2
2,106,08:01.3,09:47.4,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29588,Subscriber,1960,1
3,370,09:31.2,15:41.7,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,29250,Subscriber,1976,1
4,315,19:53.2,25:09.1,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,29586,Subscriber,1980,1

In [4]:
MarData = pd.read_csv("./Data/Mar_2019_Citibike.csv")
MarData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,306,47:08.2,52:14.7,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,-74.038526,26272,Subscriber,1989,1
1,123,30:53.0,32:56.8,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26192,Subscriber,1966,1
2,328,18:30.4,23:59.1,3183,Exchange Place,40.716247,-74.033459,3213,Van Vorst Park,40.718489,-74.047727,26226,Subscriber,1971,2
3,95,04:47.2,06:22.8,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,26204,Subscriber,1985,1
4,169,51:29.4,54:19.2,3183,Exchange Place,40.716247,-74.033459,3639,Harborside,40.719252,-74.034234,29449,Subscriber,1971,1

In [5]:
AprData = pd.read_csv("./Data/Apr_2019_Citibike.csv")
AprData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,107,48:04.8,49:52.4,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,-74.033552,29536,Subscriber,1966,1
1,493,41:09.7,49:23.0,3183,Exchange Place,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,26191,Customer,1990,1
2,512,27:07.9,35:40.9,3183,Exchange Place,40.716247,-74.033459,3202,Newport PATH,40.727224,-74.033759,29302,Subscriber,1987,2
3,196,07:38.2,10:54.6,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,26220,Subscriber,1989,1
4,463,19:24.7,27:08.6,3183,Exchange Place,40.716247,-74.033459,3273,Manila & 1st,40.721651,-74.042884,26228,Subscriber,1995,1

In [6]:
MayData = pd.read_csv("./Data/May_2019_Citibike.csv")
MayData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,311,07:36.5,12:47.6,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.721630,-74.049968,29224,Subscriber,1988,1
1,538,08:29.3,17:27.9,3681,Grand St,40.715178,-74.037683,3203,Hamilton Park,40.727596,-74.044247,26170,Subscriber,1974,1
2,178,39:36.5,42:35.0,3638,Washington St,40.724294,-74.035483,3639,Harborside,40.719252,-74.034234,29517,Subscriber,1988,1
3,317,24:28.0,29:45.6,3206,Hilltop,40.731169,-74.057574,3212,Christ Hospital,40.734786,-74.050444,29606,Subscriber,1986,2
4,354,54:39.7,00:34.2,3639,Harborside,40.719252,-74.034234,3202,Newport PATH,40.727224,-74.033759,26224,Customer,1986,2

In [7]:
JunData = pd.read_csv("./Data/Jun_2019_Citibike.csv")
JunData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,316,05:55.7,11:12.0,3187,Warren St,40.721124,-74.038051,3199,Newport Pkwy,40.728745,-74.032108,29677,Subscriber,1993,1
1,280,08:09.1,12:50.1,3185,City Hall,40.717733,-74.043845,3267,Morris Canal,40.712419,-74.038526,29571,Subscriber,1984,1
2,2162,13:11.9,49:14.4,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,26208,Customer,1969,0
3,2184,13:30.1,49:54.2,3199,Newport Pkwy,40.728745,-74.032108,3199,Newport Pkwy,40.728745,-74.032108,29487,Customer,1969,0
4,139,13:31.9,15:51.8,3207,Oakland Ave,40.737604,-74.052478,3207,Oakland Ave,40.737604,-74.052478,29592,Subscriber,1994,1

In [8]:
JanFebData = pd.merge(JanData, FebData, on='tripduration', how= 'inner')
JanFebData.head()

,tripduration,starttime_x,stoptime_x,start station id_x,start station name_x,start station latitude_x,start station longitude_x,end station id_x,end station name_x,end station latitude_x,...,start station latitude_y,start station longitude_y,end station id_y,end station name_y,end station latitude_y,end station longitude_y,bikeid_y,usertype_y,birth year_y,gender_y
0,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,29555,Subscriber,1976,1
1,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.716247,-74.033459,3481,York St,40.716490,-74.041050,29592,Subscriber,1987,1
2,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.716247,-74.033459,3681,Grand St,40.715178,-74.037683,29252,Subscriber,1983,1
3,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29610,Subscriber,1969,0
4,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.716247,-74.033459,3275,Columbus Drive,40.718355,-74.038914,26174,Subscriber,1978,1

In [9]:
MarAprData = pd.merge(MarData, AprData, on='tripduration', how= 'inner')
MarAprData.head()

,tripduration,starttime_x,stoptime_x,start station id_x,start station name_x,start station latitude_x,start station longitude_x,end station id_x,end station name_x,end station latitude_x,...,start station latitude_y,start station longitude_y,end station id_y,end station name_y,end station latitude_y,end station longitude_y,bikeid_y,usertype_y,birth year_y,gender_y
0,306,47:08.2,52:14.7,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,...,40.716247,-74.033459,3186,Grove St PATH,40.719586,-74.043117,29242,Subscriber,1966,1
1,306,47:08.2,52:14.7,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,...,40.716247,-74.033459,3187,Warren St,40.721124,-74.038051,29265,Subscriber,1958,1
2,306,47:08.2,52:14.7,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,...,40.714145,-74.033552,3185,City Hall,40.717733,-74.043845,29467,Subscriber,1982,1
3,306,47:08.2,52:14.7,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,...,40.719586,-74.043117,3183,Exchange Place,40.716247,-74.033459,29286,Subscriber,1972,1
4,306,47:08.2,52:14.7,3183,Exchange Place,40.716247,-74.033459,3267,Morris Canal,40.712419,...,40.719586,-74.043117,3205,JC Medical Center,40.716540,-74.049638,26293,Subscriber,1982,1

In [10]:
MayJunData = pd.merge(MayData, JunData, on='tripduration', how= 'inner')
MayJunData.head()

,tripduration,starttime_x,stoptime_x,start station id_x,start station name_x,start station latitude_x,start station longitude_x,end station id_x,end station name_x,end station latitude_x,...,start station latitude_y,start station longitude_y,end station id_y,end station name_y,end station latitude_y,end station longitude_y,bikeid_y,usertype_y,birth year_y,gender_y
0,311,07:36.5,12:47.6,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.72163,...,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,29483,Subscriber,1991,2
1,311,07:36.5,12:47.6,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.72163,...,40.714145,-74.033552,3267,Morris Canal,40.712419,-74.038526,29200,Subscriber,1977,2
2,311,07:36.5,12:47.6,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.72163,...,40.719586,-74.043117,3639,Harborside,40.719252,-74.034234,29644,Subscriber,1992,2
3,311,07:36.5,12:47.6,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.72163,...,40.712774,-74.036486,3185,City Hall,40.717733,-74.043845,29598,Subscriber,1981,2
4,311,07:36.5,12:47.6,3185,City Hall,40.717733,-74.043845,3279,Dixon Mills,40.72163,...,40.714584,-74.042817,3186,Grove St PATH,40.719586,-74.043117,26234,Subscriber,1983,2

In [11]:
Jan_MarData = pd.merge(JanFebData, MarData, on='tripduration', how= 'inner')
Jan_MarData.head()

,tripduration,starttime_x,stoptime_x,start station id_x,start station name_x,start station latitude_x,start station longitude_x,end station id_x,end station name_x,end station latitude_x,...,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.714145,-74.033552,3267,Morris Canal,40.712419,-74.038526,29508,Subscriber,1981,0
1,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.714145,-74.033552,3481,York St,40.716490,-74.041050,29606,Subscriber,1949,1
2,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.717733,-74.043845,3187,Warren St,40.721124,-74.038051,29674,Subscriber,1988,1
3,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.717733,-74.043845,3483,Montgomery St,40.719420,-74.050990,29641,Subscriber,1982,1
4,201,09:09.7,12:30.9,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,...,40.717733,-74.043845,3211,Newark Ave,40.721525,-74.046305,29201,Subscriber,1992,2

In [12]:
Jan_MarData.to_csv("./Data/Jan_MarData.csv")

In [ ]:
Apr_MayData = pd.merge(AprData, MayJunData, on='tripduration', how= 'inner')
Apr_MayData.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,...,start station latitude_y,start station longitude_y,end station id_y,end station name_y,end station latitude_y,end station longitude_y,bikeid_y,usertype_y,birth year_y,gender_y
0,107,48:04.8,49:52.4,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,...,40.727224,-74.033759,3638,Washington St,40.724294,-74.035483,29487,Subscriber,1975,1
1,107,48:04.8,49:52.4,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,...,40.724294,-74.035483,3202,Newport PATH,40.727224,-74.033759,29553,Subscriber,1984,1
2,107,48:04.8,49:52.4,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,...,40.719586,-74.043117,3185,City Hall,40.717733,-74.043845,29638,Subscriber,1983,1
3,107,48:04.8,49:52.4,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,...,40.724294,-74.035483,3202,Newport PATH,40.727224,-74.033759,29203,Subscriber,1991,1
4,107,48:04.8,49:52.4,3183,Exchange Place,40.716247,-74.033459,3184,Paulus Hook,40.714145,...,40.724294,-74.035483,3202,Newport PATH,40.727224,-74.033759,29594,Subscriber,1983,2

In [ ]:
Apr_MayData.to_csv("./Data/Apr_MayData.csv")